// light
$color--light: #ffffff;
$color--light-dark: #e7e7e7;
$color--text-on-light: #000000;
$color--text-on-light-dark: #000000;
// dark
$color--dark: #3c3c3c;
$color--dark-light: #999999;
$color--text-on-dark: #ffffff;
$color--text-on-dark-light: #ffffff;
