.speckle-demo {
	background-color: $color--light-dark;
	color: $color--text-on-light-dark;
	height: 300px;
	margin: 80px auto 360px;
	max-width: 600px;
	position: relative;
	width: 100%;

	h3 {
		background-color: $color--dark-light;
		border-radius: 20px;
		color: $color--text-on-dark-light;
		display: inline-block;
		font-family: sans-serif;
		line-height: 1;
		margin: 15px;
		padding: 10px 15px;
		position: relative;
		z-index: 10;
	}

}
